<% if (post.categories && post.categories.length){ %>
	<div class="article-category tagcloud">
		<i class="icon-book icon"></i>
		<ul class="article-tag-list">
			<% post.categories.forEach(function(tag, i){ %> 
        		<li class="article-tag-list-item">
        			<a href="<%= config.root %>categories/<%= tag.name.replace(/\s+/g, '') %>/" class="article-tag-list-link color<%= tag.name.length % 5 + 1 %>"><%-tag.name%></a>
        		</li>
      		<% }) %>
		</ul>
	</div>
<% } %>

<% if (theme.leancloud_visitors.enable) { %>
<!-- 这个counter-tag counter的样式，你们得自己弄啊.. 我就不想贴样式代码了.. -->
<div class="counter-tag counter">
    <!-- 别忘记这个类名... post-title-link -->
    <span id="<%- url_for(post.path) %>" class="leancloud_visitors post-title-link"
          style="font-size: 14px" data-flag-title="<%= post.title %>">
         &nbsp;
    <!-- 这里给出浏览数,定义在language中哈-->
        <%= __("Hits") %>
    </span>
</div>
<% } %>